name: auto

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Kolkata"

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; fi

      - name: Update readme
        run: |
          cd scripts && python main.py merge_md_yaml

      - name: Copy README.md to docs/index.md
        run: |
          mkdir -p docs
          cp README.md docs/index.md

      # FOR PROPER RENDERING OF TABLES IN GITHUB PAGES
      - name: Fix Jekyll <details> blocks
        run: |
          sed -i -E 's/<details([^>]*)>/<details\1 markdown="1">/g' docs/index.md
      
      # FOR EMOJI RENDERING IN GITHUB PAGES (BECAUSE OF USING MARKDOWN=1 in the above step) 
      - name: Fetch emoji mapping
        run: |
          curl -s https://gist.githubusercontent.com/rxaviers/7360908/raw/emoji-list.txt > emoji-list.txt

      - name: Generate replacement script
        run: |
          # Create a sed script to replace alias with emoji
          awk '{ 
            # Each line is "emoji alias"
            emoji = $1 
            alias = $2 
            # Escape slashes for sed
            gsub(/\\//,"\\\\/",&emoji) 
            gsub(/\\//,"\\\\/",&alias)
            print "s/" alias "/" emoji "/g"
          }' emoji-list.txt > replace-emojis.sed

      - name: Apply emoji replacements
        run: |
          # Apply all replacements to generated Markdown
          sed -i -f replace-emojis.sed docs/index.md

      ################################################################################
      # COMMIT CHANGES IF ANY
      ################################################################################
      - name: Get date time
        id: date
        run: echo "::set-output name=date::$(date -u +%Y-%m-%dT%H:%M:%SZ)"

      - name: Commit Updated
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "auto update @ ${{ steps.date.outputs.date }} ${{ env.TZ }}"
